@page
@model Candy2.Pages.CandStore.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CandyStore</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CandyStore.CSAreaSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CandyStore.CSAreaSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CandyStore.CSLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CandyStore.CSLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CandyStore.CSID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
